body {
  background: #FDFAE3;
  text-align: center;
  color: black;
  font-family: 'Noto Sans JP', verdana, sans-serif;
}

a{
  color: blue;
  text-decoration: none;
}

img{
  border: 0;
  width: 60%;
  min-width: 200px;
  max-width: 500px;
}

h2{
  font-size: 27px;
  font-family: 'Playfair Display', Times, serif;
  font-weight: 400;
  color: white;
  background: #C9B805
}

ul li{
  list-style-type: none;
  background: #232889;
  float: left;
  display: block;
}


li a{
  display: block;
  font-size: 18px;
  padding: 20px;
  color: yellow;
}

@media screen and (max-width: 600px) {
  ul li {float: none;}
}

a:hover img{
  border: none !important;
}

a:hover{
  background-color: black;
}
