body {
  background: grey;
  text-align: center;
  color: white;
}

a{
  color: yellow;
  text-decoration: none;
}

img{
  min-width: 200px;
  max-width: 400px;
  border: 0;
}

h2{
  font-size: 27px;
  font-family: font-family: 'Playfair Display', Times, serif;
}

ul{
  list-style-type: none;
  background: #232889;
}

a:hover{
  background-color: black;
}
