body {
  background: #FDFAE3;
  text-align: center;
  color: black;
  font-family: 'Noto Sans JP', verdana, sans-serif;
}

h1 {
  font-family: 'Abril Fatface', Times, cursive;
  font-size: 60px;
}

a{
  color: blue;
  text-decoration: none;
}

img{
  border: 0;
  width: 60%;
  min-width: 200px;
  max-width: 500px;
}

h2{
  font-size: 27px;
  font-family: 'Playfair Display', Times, serif;
  font-weight: 400;
  color: white;
  background: #C9B805
}

li{
  font-size: 18px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: yellow;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

li a{
  color: yellow;
}

ul{
  list-style-type: none;
  background: #232889;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

nav{
  background: #232889;
}

a:hover img{
  border: none !important;
}

a:hover{
  background-color: black;
}

#menu_trigger{
  display: none;
}

@media (max-width: 600px){
  #menu_trigger{
    display: contents;
    position: absolute;
    top: 0px;
    color: gold;
    background-color: grey;
  }

  #menu-nav{
    display: none;
  }

}
